html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Vesper Libre', serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    margin: 0;
}

section {
    max-width: 800px;
    margin: 0 .8em;
    padding-bottom: 2em;
}

section.toc {
    padding-bottom: 0;
}

section.toc h3 {
    padding-bottom: 1em;
}

.cover {
    width: 100%;
    margin: 0 auto 1em auto;
    background-color: #FF5750;
    float: left;
    text-align: center;
}

.cover-image {
    margin-top: 30px;
    width: 150px;
}

.colophon {
    padding-top: 3em;
    padding-bottom: 2em;
    font-style: italic;
}

.side {
    display: none;
}

.paragraph {
    padding-top: 1.25em;
}

.content {
    padding-left: 15%;
    padding-right: 15%;
}

.ref {
    vertical-align: super;
    font-size: .8em;
    color: #FF5750;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 1px;
    margin-right: -4px;
    cursor: pointer;
}

.ref-link {
    margin: 0;
    text-align: center;
}

.list>ul {
    margin-top: 0;
}

.list>ol {
    margin-top: 0;
}

h1 {
    font-family: 'Asul', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: white;
    padding-bottom: .7em;
}

h3 {
    font-family: 'Vesper Libre', sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    margin-bottom: -5px;
    text-align: center;
}

h3>a {
    text-decoration: none;
}

h2 {
    font-family: 'Asul', serif;
    font-size: 1.25em;
    color: #FF5750;
    margin: 0;
    text-align: center;
    padding-bottom: .5em;
}

a {
    color: black;
}

a:hover {
    color: #FF5750;
}

.paragraph-number a {
    text-decoration: none;
}

@media only screen and (min-width: 480px) {
    .main {
        width: 60%;
        float: left;
        padding: 5%;
    }
    .cover {
        margin: 0 auto;
        background-color: #FF5750;
        width: 60%;
        float: left;
        padding: 5%;
        text-align: center;
    }
    .cover-image {
        width: 100%;
        max-width: 400px;
    }
    section {
        margin: 0 auto;
    }
    .side {
        background-color: #F9F7F3;
        float: left;
        width: 30%;
        height: 100%;
        position: fixed;
        padding-top: 5%;
        right: 0;
        overflow-y: auto;
        display: block;
    }
    .list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    h1 {
        padding-bottom: 0;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        padding-top: 3em;
    }
}
